@page "/Index"

<PageTitle>Index</PageTitle>

<div class="align-content-center">
        <label>
            <h1>Bienvenido a mi proyecto de DealerAutos</h1>

            <h3>Selecciona a donde quieres ir en el menu de la izquierda</h3>
        </label>
        <br />
        <img width="1050" src="https://i.pinimg.com/originals/50/fd/57/50fd57185f377d5e140a357e48f991bf.gif"
</div>